@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Outfit:wght@100..900&family=Pacifico&family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
